<div class="container">
  <div class="row">
    <app-header></app-header>
    <form
      class="row g-3"
      [formGroup]="submitForm"
      (ngSubmit)="onSubmit()"
      #f="ngForm"
    >
      <div class="col-md-6">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control custom-font-size"
          id="name"
          formControlName="name"
          autocomplete="off"
        />
      </div>
      <div class="col-md-6">
        <label for="contact" class="form-label">Contact</label>
        <input
          type="text"
          class="form-control custom-font-size"
          id="contact"
          formControlName="contact"
          autocomplete="off"
        />
      </div>
      <div class="col-12 product" formArrayName="products">
        <div
          class="col-12 products"
          *ngFor="let productControl of getControls(); let i = index"
          [formGroupName]="i"
        >
          <div class="col-8 productControl">
            <label for="product" class="form-label">Product</label>
            <input
              type="text"
              class="form-control custom-font-size"
              id="product"
              placeholder="eg. Cocoa body butter meduim size"
              formControlName="product"
              autocomplete="off"
            />
          </div>

          <div class="col-2">
            <label for="amount" class="form-label">Quantity</label>
            <input
              type="number"
              id="amount"
              class="form-control custom-font-size add-width"
              formControlName="amount"
              autocomplete="off"
            />
          </div>
          <div class="cancel">
            <button class="btn btn-danger" (click)="onDelete(i)">Delete</button>
          </div>
        </div>
        <div class="col-12 add-product">
          <button type="button" class="btn btn-success" (click)="addProduct()">
            Add Product
          </button>
        </div>
      </div>

      <div class="col-12">
        <label for="date" class="form-label">Date of delivery</label>
        <input
          type="date"
          class="form-control"
          style="font-size: 14px"
          id="date"
          formControlName="date"
        />
      </div>
      <div class="col-12">
        <label for="modeofPickp" class="form-label">Mode of Delivery</label>
        <select
          class="form-select custom-font-size"
          id="modeofPickp"
          formControlName="modeofPickp"
        >
          <option value="Pickup at shiashie">Pick up at Shiashie</option>
          <option value="deli very at a fee">Delivery at a fee</option>
        </select>
      </div>

      <div class="col-12 adjust">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">
          Submit
        </button>
      </div>
    </form>
    <!-- <div class="row">
      <p>{{ username }}</p>
      <p>{{ product }}</p>
      <p>{{ date }}</p>
      <p>{{ modeOfPickup }}</p>
      <p>{{ username }}</p>
    </div> -->
  </div>
</div>
